main {
  // border: 1px solid black;
  height: 100vh;

  .loading {
    // border: 1px solid black;
    display: flex;
    background: #835afd;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}
